
/*
------------------------------------------
General Positioning, Fonts, Headings
------------------------------------------
*/

/* Footer positioning */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* Inline list positioning */

  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

/* Text shadows */

.text-shadow {
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
}

/* Flash messages */

flashes h4 {
  line-height: 2;

}

/* Inputs */

/* Credit: modified from https://stackoverflow.com/questions/37127123/change-color-of-underline-input-and-label-in-materialize-css-framework */
/* Inactive/Active Default input field color */
/* .input-field input[type=email]:not([readonly]),
.input-field input[type=email]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly])
.input-field>label { */
  /* ------------------Color not working for .input-field>label. Only works if put outside statement but then only stays that colour */
    /* color: #000 !important; 
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important; */
/* } */

/* Inactive/Active Default input label color */
/* .input-field input[type=email]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: #000 !important; */
/* } */

/* Active/Inactive Invalid input field colors */
/* .input-field input[type=email].invalid,
.input-field input[type=email].invalid:focus,
.input-field textarea.invalid,
.input-field textarea.invalid:focus {
    color: red !important;
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
} */

/* Active/Inactive Invalid input label color */
/* .input-field input[type=email].invalid:focus+label,
.input-field input[type=email].invalid~.helper-text::after,
.input-field input[type=email].invalid:focus~.helper-text::after, 
.input-field textarea.invalid:focus+label,
.input-field textarea.invalid~.helper-text::after,
.input-field textarea.invalid:focus~.helper-text::after {
    color: red !important; 
} */

/* Active/Inactive Valid input field color */
/* .input-field input[type=email].valid,
.input-field input[type=email].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
    color: #26a69a !important;
    border-bottom: 1px solid #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
} */

/* Active/Inactive Valid input label color */
/* .input-field input[type=email].valid:focus+label,
.input-field input[type=email].valid~.helper-text::after,
.input-field input[type=email].valid:focus~.helper-text::after,
.input-field textarea.valid:focus+label,
.input-field textarea.valid~.helper-text::after,
.input-field textarea.valid:focus~.helper-text::after {
    color: #26a69a !important;
} */

/*
------------------------------------------
Forms
------------------------------------------
*/

/* Select input text font-size/color */
.select-wrapper
input.select-dropdown {
  font-size: 14.5px;
  color: #9e9e9e;
}


/*
------------------------------------------
Header
------------------------------------------
*/

.header-logo {
  margin: 1.25rem 0 0 0;
  height: 75%;
  width: 75%;
}

/*
------------------------------------------
Buttons
------------------------------------------
*/

.register-button,
.login-button {
  text-align: center;
}

/*
------------------------------------------
Home page
------------------------------------------
*/

/* Carousel */

.carousel-item {
  position:relative;
}

.carousel-image {
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: contain;
}
/*
------------------------------------------
Recipe page
------------------------------------------
*/

.recipe-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*
------------------------------------------
Recipes page
------------------------------------------
*/

.recipe-card-image{
  /* min-height: 12rem; */
  max-height: 17rem;
  overflow: hidden;
}

/* https://stackoverflow.com/questions/36106693/creating-responsive-materialize-cards */
/* .recipe-card-image {
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
}

.recipe-card-image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

/*
------------------------------------------
Footer
------------------------------------------
*/

footer,
.footer-social-links {
  text-align: center;
}

.footer-social-links i {
  font-size: 2.5rem;
  padding: 0.9375rem;
}

.footer-copyright {
  padding: 0 !important;
}

.copyright-text {
  padding-left: 0.625rem;
}

/*
------------------------------------------
MEDIA QUERIES
------------------------------------------
*/

/* <600px - Materialize Mobile devices (s) */




/* >600px - Materialize Tablet devices (m) */

@media screen and (min-width: 601px) {
  .footer-social-links i {
    font-size: 1.875rem;
    padding: 0.3125rem;
  }

  .footer-mailing-list {
    text-align: left;
  }

  .footer-social-links {
    text-align: right;
  }

  .mail-submit-btn {
    top: 1.375rem
  }

  .footer-email-input {
    width: 90% !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  .select-wrapper
  input.select-dropdown {
    width: 66%;
  }

  .select-wrapper .caret {
    right: 33%;
  }
}

/* >992px - Materialize Desktop devices (l) */

@media screen and (min-width: 992px) {

  .header-logo {
    margin: 1.25rem 0 1.25rem 0;
    height: 66%;
    width: 66%;
  }

  .footer-social-links i {
    font-size: 2.5rem;
    padding: 0.9375rem;
  }

  .footer-email-input {
    width: 75% !important;
  }

  .select-wrapper
  input.select-dropdown {
    width: 50%;
  }

  .select-wrapper .caret {
    right: 50%;
  }
}

/* >1200px - Materialize Large Desktop devices (xl) */

@media screen and (min-width: 1200px) {

  .footer-email-input {
    width: 50% !important;
  }
  
}