@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rozha+One&family=Sonsie+One&display=swap');


/*
------------------------------------------
General Positioning, Fonts, Headings
------------------------------------------
*/

/* Footer positioning */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Inline list positioning */

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* Fonts */

.font-sonsie-one {
  font-family: "Sonsie One", sans-serif;
}

.font-rozha-one {
  font-family: "Rozha One", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

/* Headings */

.page-heading {
  font-size: 36px;
  margin-top: 2.25rem;
  letter-spacing: 1px;
}

.recipe-page-heading {
  font-size: 36px;
  margin-top: 0;
  letter-spacing: 1px;
}

.sub-heading {
  font-size: 24px;
  margin: 0;
  letter-spacing: 1px;
}

/* Text shadows */

.text-shadow {
  text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
}

/* Flash messages */

flashes h4 {
  line-height: 2;
}

/* Links */

.link:hover {
  text-decoration: underline;
}


/* Inputs */

/* Credit: modified from https://stackoverflow.com/questions/37127123/change-color-of-underline-input-and-label-in-materialize-css-framework */

/* label focus color */
.input-field input:focus + label {
  color:#1b5e20 !important;
} 
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid#1b5e20 !important;
  box-shadow: 0 1px 0 0 #1b5e20 !important
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1b5e20 !important;
  box-shadow: 0 1px 0 0 #1b5e20;
  -webkit-box-shadow: 0 1px 0 0 #1b5e20;

}

.dropdown-content li>a, .dropdown-content li>span {
  color: #1b5e20;
}

/* textarea focus color */
/* .textarea input:focus + label {
  color: #1b5e20 !important;
} */
/* textarea underline focus color */
/* .row .textarea input:focus {
  border-bottom: 1px solid#1b5e20 !important;
  box-shadow: 0 1px 0 0 #1b5e20 !important
} */


/*
------------------------------------------
Forms
------------------------------------------
*/

/* Select input text font-size/color */
.select-wrapper input.select-dropdown {
  font-size: 14.5px;
  color: #9e9e9e;
}


/*
------------------------------------------
Header
------------------------------------------
*/

.header-logo {
  margin: 1.25rem 0 0 0;
  height: 75%;
  width: 75%;
}

.search-icon {
  line-height: 52px !important;
}

/*
------------------------------------------
Buttons
------------------------------------------
*/

.register-button,
.login-button {
  text-align: center;
}

input[type="submit" i] {
  color: white;
  background-color: #1b5e20;
  border: none;
}

#submit {
  text-transform: uppercase;
}

/*
------------------------------------------
Home page
------------------------------------------
*/



/* Carousel */

/* .carousel-item {
  position:relative;
}

.carousel-image {
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: contain;
} */
/*
------------------------------------------
Recipe page
------------------------------------------
*/

/* .recipe-image-container {
  height: auto;
  width: auto;
} */

.recipe-image {
  /* height: 100%;
  width: 100%; */
  height: 33vh;
  width: 100%;
  border-radius: 2%;
  object-fit: cover;
}

/* .recipe-image {
  position: relative;
  overflow: hidden;
}

.recipe-image img {
  position: absolute;
  object-fit: contain;
} */

/* .recipe-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 2.25rem;
} */

/*
------------------------------------------
Recipes page
------------------------------------------
*/

/* recipe cards */

/* .card {
  height: 34rem;
} */

/* .recipe-image-container {
  height: 100%;
  width: 100%;
} */

.recipe-card-image {
  /* min-height: 12rem; */
  max-height: 17rem;
  overflow: hidden;
  object-fit: cover;
}

.card-content {
  /* height: 11.25rem; */
  margin: 1.5rem;
  padding: 0 !important;
}

.recipe-card-info p {
  padding: 0.0625rem;
}

.card-action {
  height: 4.0625rem;
}


/* https://stackoverflow.com/questions/36106693/creating-responsive-materialize-cards */
/* .recipe-card-image {
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
}

.recipe-card-image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

/*
------------------------------------------
Errors
------------------------------------------
*/

.error-number {
  font-size: 6.25rem;
  margin: 1.25rem;
}

/*
------------------------------------------
Footer
------------------------------------------
*/

/* footer,
.footer-social-links {
  text-align: center;
} */

.footer-social-links i {
  font-size: 2.5rem;
  padding: 0.9375rem;
}

.footer-copyright {
  padding: 0 !important;
}

.copyright-text {
  padding-left: 0.625rem;
}

.modal-text {
  margin: 1.25rem 0 1.25rem 0;
}


/*
------------------------------------------
MEDIA QUERIES
------------------------------------------
*/


/* <600px - Materialize Mobile devices (s) */




/* >600px - Materialize Tablet devices (m) */

@media screen and (min-width: 601px) {
  .footer-social-links i {
    padding: 1.25rem;
  }

  /* .footer-mailing-list {
    text-align: left;
  } */

  /* .footer-social-links {
    text-align: right;
  } */

  /* .mail-submit-btn {
    top: 1.375rem
  } */

  /* .footer-email-input {
    width: 90% !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
  } */

  .select-wrapper input.select-dropdown {
    width: 66%;
  }

  .select-wrapper .caret {
    right: 33%;
  }

  /* .card {
    height: 30rem;
  } */

  .recipe-card-image {
    /* min-height: 12rem; */
    max-height: 9.6875rem;
    overflow: hidden;
    object-fit: cover;
  }

  /* .card-content {
    height: 14.375rem;
  } */

  .recipe-card-description {
    height: 6.25rem;
  }

  .recipe-card-info {
    height: 6.875rem;
  }

  .recipe-image {
    height: 40vh;
  }
}

/* >992px - Materialize Desktop devices (l) */

@media screen and (min-width: 992px) {

  .header-logo {
    margin: 1.25rem 0 1.25rem 0;
    height: 66%;
    width: 66%;
  }

  /* .main-nav {
    right: 16.5%;
  } */

  .sign-up {
    text-align: left;
  }

  .footer-social-links {
    text-align: right;
    margin-top: 2.9rem;
  }

  .footer-social-links i {
    font-size: 2.5rem;
    padding: 0.9375rem;
  }

  /* .footer-email-input {
    width: 75% !important;
  } */

  .select-wrapper input.select-dropdown {
    width: 50%;
  }

  .select-wrapper .caret {
    right: 50%;
  }

  /* .card {
    height: 500px;
  } */

  /* .recipe-image-container {
    height: 100%;
    width: 100%;
  } */

  .recipe-card-image {
    /* min-height: 12rem; */
    max-height: 8.75rem;
    overflow: hidden;
    object-fit: cover;
  }

  .card-title {
    padding: 12px !important;
  }

  /* .recipe-image {
    height: 50vh;
  } */
}

/* >1200px - Materialize Large Desktop devices (xl) */

@media screen and (min-width: 1200px) {

  /* .footer-email-input {
    width: 50% !important;
  } */

  .recipe-card-image {
    /* min-height: 12rem; */
    max-height: 10rem;
    overflow: hidden;
    object-fit: cover;
  }

  .recipe-image {
    height: 50vh;
  }
}