/*
------------------------------------------
General Positioning, Fonts, Headings
------------------------------------------
*/

/* Footer positioning */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* Inline list positioning */

  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

/* Text shadows */

/* .text-shadow {
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
} */

/*
------------------------------------------
Header
------------------------------------------
*/

/*
------------------------------------------
Footer
------------------------------------------
*/

.copyright-text {
  padding-left: 0.625rem;
}

footer,
.footer-social-links {
  text-align: center;
}

.footer-social-links i {
  font-size: 2.5rem;
  padding: 0.9375rem;
}

/*
------------------------------------------
MEDIA QUERIES
------------------------------------------
*/

/* <600px - Materialize Mobile devices (s) */




/* >600px - Materialize Tablet devices (m) */

@media screen and (min-width: 600px) {
  .footer-social-links i {
    font-size: 1.875rem;
    padding: 0.3125rem;
  }

  .footer-mailing-list {
    text-align: left;
  }
}


/* >992px - Materialize Mobile devices (l) */

@media screen and (min-width: 992px) {
  .footer-social-links i {
    font-size: 2.5rem;
    padding: 0.9375rem;
  }
  
}