<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Recipe Box</title>
</head>

<body>

    <header>
        <!-- Main navbar -->
        <nav class="nav-extended text-shadow white black-text z-depth-2">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo black-text">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right black-text"><i
                        class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}" class="black-text">Home</a></li>
                    <li><a href="#" class="black-text">Profile</a></li>
                    <li><a href="{{ url_for('get_recipes') }}" class="black-text">Recipes</a></li>
                    <li><a href="#" class="black-text">Manage Categories</a></li>
                    <li><a href="#" class="black-text">Sign Out</a></li>
                    <li><a href="{{ url_for('login') }}" class="black-text">Sign In</a></li>
                    <li><a href="{{ url_for('register') }}" class="black-text">Register</a></li>
                </ul>
            </div>
        </nav>

        <!-- Mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align black-text">ADD LOGO HERE</h4>
            </li>
            <li><a href="{{ url_for('index') }}" class="black-text">Home</a></li>
            <li><a href="#" class="black-text">Profile</a></li>
            <li><a href="{{ url_for('get_recipes') }}" class="black-text">Recipes</a></li>
            <li><a href="#" class="black-text">Manage Categories</a></li>
            <li><a href="#" class="black-text">Sign Out</a></li>
            <li><a href="{{ url_for('login') }}" class="black-text">Sign In</a></li>
            <li><a href="{{ url_for('register') }}" class="black-text">Register</a></li>
        </ul>
    </header>

    <section>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="green darken-4 white-text center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">

        {% block content %}
        {% endblock %}

    </main>

    <footer class="page-footer white z-depth-2">
        <div class="container-fluid">
            <div class="row footer-content">
                <div class="col m6 s12 footer-mailing-list">
                    <h6 class="black-text">Sign up for weekly recipe ideas:</h6>
                    <div class="input-field col s12 footer-email-input">
                        <input id="email" type="email" class="validate" required>
                        <label class="email-label" for="email">Email</label>
                    </div>
                    <button class="btn-small waves-effect waves-light mail-submit-btn" type="submit"
                        name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col m4 offset-m2 s12">
                    <ul class="list-inline footer-social-links">
                        <li><a class="black-text text-shadow" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="black-text text-shadow" href="#!"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="black-text text-shadow" href="#!"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="black-text text-shadow" href="#!"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright white black-text">
            <div class="container-fluid">
                <div class="col copyright-text">&copy; <span id="year"></span> Recipe Box</div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>