<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <!-- Credit: Favicon created using https://favicon.io/ -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/logo_favicon.ico') }}" />
    {% block styles %}
    {% endblock %}
    <title>Recipe Box</title>

</head>

<body>


    <header>
        <div class="row">
            <div class="col s12 center-align"">
                <a href=" {{ url_for('index') }}"><img class="header-logo"
                    src="{{ url_for('static', filename='images/logo/logo_original_on_transparent.png') }}"
                    alt="Recipe Box Logo"></a>
            </div>
        </div>
        <!-- Main navbar -->
        <nav class="nav-extended text-shadow white black-text z-depth-2 font-roboto">
            <div class="nav-wrapper main-nav">
                <!-- <a href="" class="brand-logo black-text">Logo</a> -->
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right black-text"><i
                        class="fas fa-bars"></i></a>
                <div class="row">
                    <div class="col l8 offset-l2">
                        <ul class="left hide-on-med-and-down">
                            <li><a href="{{ url_for('index') }}" class="black-text">Home</a></li>
                            <li><a href="{{ url_for('recipes') }}" class="black-text">Recipes</a></li>
                            {% if session.user %}
                            <li><a href="{{ url_for('profile', username=session['user']) }}"
                                    class="black-text">Profile</a></li>
                            <li><a href="{{ url_for('create_recipe') }}" class="black-text">Add Recipe</a></li>
                            <li><a href="{{ url_for('logout') }}" class="black-text">Sign Out</a></li>
                            {% else %}
                            <li><a href="{{ url_for('login') }}" class="black-text">Sign In</a></li>
                            <li><a href="{{ url_for('register') }}" class="black-text">Register</a></li>
                            {% endif %}
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <!-- Credit: code for search bar modified from: https://ampersandacademy.com/tutorials/materialize-css/navbar-with-autocomplete-search-box -->
                                <!-- Credit: code for writing search form functionality modified from https://stackoverflow.com/questions/62765928/how-to-submit-data-from-a-search-form-within-the-base-html-of-a-flask-app -->
                                <div id="topbarsearch">
                                    <form action="{{ url_for('search') }}" method="GET">
                                        <div class="input-field black-text">
                                            <i class="black-text material-icons prefix search-icon">search</i>
                                            <input type="text" placeholder="search recipes" class="black-text"
                                                id="search" name="query" required>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="{{ url_for('index') }}"><img class="header-logo"
                        src="{{ url_for('static', filename='images/logo/logo_original_on_transparent.png')}}"
                        alt="Recipe Box Logo"></a>
            </li>
            <li><a href="{{ url_for('index') }}" class="black-text">Home</a></li>
            <li><a href="{{ url_for('recipes') }}" class="black-text">Recipes</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}" class="black-text">Profile</a></li>
            <li><a href="{{ url_for('create_recipe') }}" class="black-text">Add Recipe</a></li>
            <li><a href="{{ url_for('logout') }}" class="black-text">Sign Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}" class="black-text">Sign In</a></li>
            <li><a href="{{ url_for('register') }}" class="black-text">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="green darken-4 white-text center-align font-roboto">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="container">

        <!-- Credit: help with writing search form functionality from https://stackoverflow.com/questions/62765928/how-to-submit-data-from-a-search-form-within-the-base-html-of-a-flask-app -->
        <nav>
            <div class="nav-wrapper">
                <form action="{{ url_for('search') }}" method="GET">
                    <div class="input-field">
                        <input id="search" type="search" name="query" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

    </main>

    <footer class="page-footer white z-depth-2">
        <div class="container">
            <div class="row footer-content">
                <div class="col s12 l6 center-align">
                    <div class="sign-up font-roboto">
                        <p class="black-text">Sign up for weekly recipe ideas:</p>
                        <a class="waves-effect waves-light btn-large green darken-4">Send me recipes!</a>
                    </div>
                </div>
                <div class="col s12 l6 center-align">
                    <div class="footer-social-links">
                        <ul class="list-inline ">
                            <li><a class="black-text text-shadow" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="black-text text-shadow" href="#!"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="black-text text-shadow" href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="black-text text-shadow" href="#!"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright white black-text font-roboto">
            <div class="container-fluid">
                <div class="copyright-text">&copy; <span id="year"></span> Recipe Box</div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>