{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 center-align font-rozha-one">
        <h2 class="page-heading">Delete Recipe</h2>
    </div>
</div>

<form action="" method="POST">
    {{ form.csrf_token }}
        <!-- recipe name -->
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 input-field">
                {{ form.recipe_name.label }}
                {{ form.recipe_name(size=32) }}
                {% for error in form.recipe_name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="confirm-delete-message center-align">
            <p>Confirm delete recipe?</p>
            <p>WARNING - This cannot be undone!</p>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large green darken-4 text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button class="btn-large text-shadow red delete-button">{{ form.submit() }} <i class="fas fa-trash-alt right"></i></button>
            </div>
        </div>
</form>

{% endblock %}