{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 center-align font-rozha-one">
        <h2 class="page-heading">Edit a Recipe</h2>
    </div>
</div>

<form action="" method="POST">
    {{ form.csrf_token }}
    <!-- recipe name -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.recipe_name.label }}
            {{ form.recipe_name(size=32) }}
            {% for error in form.recipe_name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- recipe description -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.description.label }}
            {{ form.description(cols="60", rows="8", id="create-description", class="materialize-textarea")}}
            {% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- prep time -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.prep_time.label }}
            {{ form.prep_time(size=10) }}
            {% for error in form.prep_time.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- cook time -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.cook_time.label }}
            {{ form.cook_time(size=10) }}
            {% for error in form.cook_time.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- servings -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            <!-- <select>
                <option>
                {% for option in serves %}
                    {{ form.serves }}
                {% endfor %}
                </option>
            </select>
            {{ form.serves.label }} -->
            {{ form.serves.label }}
            {{ form.serves }}
            {% for error in form.serves.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- tags -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.tags.label }}
            {{ form.tags(size=100) }}
            {% for error in form.tags.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- difficulty -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.difficulty.label }}
            {{ form.difficulty }}
            {% for error in form.difficulty.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- image -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.image.label }}
            {{ form.image(size=100) }}
            {% for error in form.image.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- ingredients -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.ingredients.label }}
            {{ form.ingredients(cols="60", rows="8", id="create-ingredients", class="materialize-textarea")}}
            {% for error in form.ingredients.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- method -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            {{ form.method.label }}
            {{ form.method(cols="60", rows="8", id="create-method", class="materialize-textarea")}}
            {% for error in form.method.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('recipes') }}" class="btn-large red text-shadow">
                Cancel <i class="fas fa-times-circle right"></i>
            </a>
            <button class="btn-large text-shadow green darken-4">{{ form.submit() }} <i class="fas fa-edit right"></i></button>
        </div>
    </div>

</form>

{% endblock %}