{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 center-align font-rozha-one">
      <h3 class="page-heading">{{ username }}'s Recipe Box</h3>
    </div>
</div>

<div class="row">
    <div class="col s12 font-rozha-one">
      <h3 class="sub-heading">Your recipes...</h3>
    </div>
</div>

<div class="row">
    {% for recipe in recipes %}
        {% if session.user == recipe.user %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image recipe-card-image responsive-img">
                        <img src="{{ recipe.image }}" alt="{{ recipe.recipe_name }}">
                        <span class="card-title text-shadow">{{ recipe.recipe_name }}</span>
                    </div>
                    <div class="card-content">
                        <div class="recipe-card-description">
                            <p>{{ recipe.description }}</p>
                        </div>
                        <br>
                        <div class="recipe-card-time">
                            <p><i class="fas fa-clock"></i> Prep: {{ recipe.prep_time }} mins</p>
                            <p><i class="far fa-clock"></i> Cook: {{ recipe.cook_time }} mins</p>
                        </div>
                        <div class="recipe-card-serves">
                            <p><i class="fas fa-utensils"></i> Serves: {{ recipe.serves }}</p>
                        </div>
                        <div class="recipe-card-">
                            <p><i class="far fa-smile"></i> Difficulty: {{ recipe.difficulty }}</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="green-text text-darken-4 link" href="{{ url_for('recipe', recipe_id=recipe._id) }}">See full recipe</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}