{% extends "base.html" %}
{% block content %}

<div class="row">
  {% for recipe in recipes %}
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image recipe-card-image-container">
          <img class="recipe-card-image responsive-img" src="{{ recipe.image }}" alt="{{ recipe.recipe_name }}">
          <span class="card-title white-text text-shadow">{{ recipe.recipe_name }}</span>
        </div>
        <div class="card-content">
          <div class="recipe-card-description">
            <p>{{ recipe.description }}</p>
          </div>
          <br>
          <div class="recipe-card-time">
            <p><i class="fas fa-clock"></i></i> Prep: {{ recipe.prep_time }} mins</p>
            <p><i class="far fa-clock"></i> Cook: {{ recipe.cook_time }} mins</p>
          </div>
          <div class="recipe-card-serves">
            <p><i class="fas fa-utensils"></i> Serves: {{ recipe.serves }}</p>
          </div>
          <div class="recipe-card-">
            <p><i class="far fa-smile"></i> Difficulty: {{ recipe.difficulty }}</p>
          </div>
        </div>
        <div class="card-action">
          <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">See full recipe</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}