{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Register</h2>

<form action="" method="POST">
    {{ form.csrf_token }}
    <!-- Username -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            <i class="fas fa-user-plus prefix black-text"></i>
            {{ form.username.label }}
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <!-- Password -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            <i class="fas fa-user-lock prefix black-text"></i>
            {{ form.password.label }}
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <!-- Confirm password -->
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 input-field">
            <i class="fas fa-user-lock prefix black-text"></i>
            {{ form.password2.label }}
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <!-- Register button -->
    <div class="row">
        <div class="col s12 register-button center-align">
            <button class="btn-large text-shadow">{{ form.submit() }}</button>
        </div>
    </div>
</form>

<!-- Log in link -->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registered? <a href="{{ url_for('login') }}">Log In</a>
        </p>
    </div>
</div>
{% endblock %}